* {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
}

.weather-form {
  margin: 10%;
}

.heading {
  padding-bottom: 300px;
}

#main-header {
  font-size: 8em;
  margin-bottom: -160px;
}

#sub-header {
  font-size: 6em;
  float: right;
}

#query-button {
  margin-left: 33%;
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #5a30e0 0%, #ff3edb 100%);
  border-image-slice: 1;
  background: #fff;
  font-size: 2em;
  padding: 10px 20px;
}

.weather-image {
  font-size: 20em;
  margin-bottom: 10px;
  color: #8a5d81;
  text-align: center;
}

.city, .temp, .weather{
  font-size: 1em;
  text-align: right;
}
